@font-face {
  font-family: 'MontserratBlackItalic';
  src: url("../font/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'MontserratLightItalic';
  src: url("../font/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'MontserratExtraLight';
  src: url("../font/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'MontserratItalic';
  src: url("../font/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'MontserratExtraLightItalic';
  src: url("../font/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'MontserratMediumItalic';
  src: url("../font/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'MontserratLight';
  src: url("../font/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'MontserratThin';
  src: url("../font/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'MontserratExBoldIt';
  src: url("../font/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'MontserratMedium';
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MontserratSemiBold';
  src: url("../font/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'MontserratBold';
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'MontserratIt';
  src: url("../font/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'MontserratBlack';
  src: url("../font/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'MontserratExtraBold';
  src: url("../font/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'MontserratBoldItalic';
  src: url("../font/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MontserratSemiBoldItalic';
  src: url("../font/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ul {
  list-style: none; }

.wrapper {
  width: 98%;
  max-width: 1920px;
  margin: auto; }
  @media screen and (max-width: 1680px) {
    .wrapper {
      max-width: 1366px; } }

.wrap--text {
  display: block; }

.button {
  width: 100%;
  max-width: 160px;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff;
  cursor: pointer; }
  .button .a--link {
    color: #ffffff;
    font-family: "MontserratBold", Helvetica, Arial, sans-serif;
    font-size: 17px; }
    .button .a--link:hover {
      color: #cccccc; }

.header--section {
  width: 100%;
  height: 1000px;
  background-image: url("../img/header-home.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative; }
  @media screen and (max-width: 1440px) {
    .header--section {
      height: 700px; } }
  .header--section .menu--wrapper {
    width: 98%;
    height: 90px;
    max-width: 1920px;
    position: relative;
    z-index: 9999;
    margin: auto; }
    @media screen and (max-width: 1680px) {
      .header--section .menu--wrapper {
        max-width: 1366px; } }
    .header--section .menu--wrapper .menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed; }
      .header--section .menu--wrapper .menu .logo {
        width: 40%; }
        .header--section .menu--wrapper .menu .logo .img {
          max-width: 265px;
          max-height: 100px; }
      .header--section .menu--wrapper .menu .link {
        width: 20%; }
      .header--section .menu--wrapper .menu .social--wrapper {
        width: 20%; }
        .header--section .menu--wrapper .menu .social--wrapper .social--list {
          width: 50%;
          display: flex; }
          .header--section .menu--wrapper .menu .social--wrapper .social--list .list--item {
            width: 25%; }
            .header--section .menu--wrapper .menu .social--wrapper .social--list .list--item .img {
              max-width: 23px;
              height: 23px; }
  .header--section .container {
    width: 100%;
    position: fixed;
    top: 40px;
    left: 95vw;
    z-index: 99999; }
  .header--section .hamburger--wrapper .hamburger-menu--wrapper {
    display: block;
    user-select: none; }
    .header--section .hamburger--wrapper .hamburger-menu--wrapper .input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none; }
      .header--section .hamburger--wrapper .hamburger-menu--wrapper .input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #29ACB9; }
      .header--section .hamburger--wrapper .hamburger-menu--wrapper .input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      .header--section .hamburger--wrapper .hamburger-menu--wrapper .input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px); }
      .header--section .hamburger--wrapper .hamburger-menu--wrapper .input:checked ~ ul {
        transform: none; }
    .header--section .hamburger--wrapper .hamburger-menu--wrapper .line {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #ffffff;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      .header--section .hamburger--wrapper .hamburger-menu--wrapper .line:first-child {
        transform-origin: 0% 0%; }
      .header--section .hamburger--wrapper .hamburger-menu--wrapper .line:nth-last-child(2) {
        transform-origin: 0% 100%; }
    .header--section .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list {
      width: 100%;
      max-width: 100vw;
      height: 100vh;
      position: absolute;
      margin: -70px 0 0 -95vw;
      padding: 50px;
      padding-top: 125px;
      background: rgba(237, 237, 237, 0.7);
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      .header--section .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item {
        padding: 10px 0;
        font-size: 22px; }

.text--wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 130px; }
  @media screen and (max-width: 1440px) {
    .text--wrapper {
      margin-top: 70px; } }
  .text--wrapper .title {
    width: 73%;
    color: #ffffff;
    font-family: "MontserratMedium", Helvetica, Arial, sans-serif;
    font-size: 71px;
    line-height: 80px;
    text-align: left; }
  .text--wrapper .subtitle--wrapper {
    width: 73%;
    color: #ffffff;
    font-family: "MontserratMedium", Helvetica, Arial, sans-serif;
    margin-top: 100px; }
    @media screen and (max-width: 1440px) {
      .text--wrapper .subtitle--wrapper {
        margin-top: 70px; } }
    .text--wrapper .subtitle--wrapper .subtitle--big {
      font-size: 36px; }
    .text--wrapper .subtitle--wrapper .subtitle--small {
      font-size: 20px;
      margin-top: 15px; }
    .text--wrapper .subtitle--wrapper .button {
      background-color: #ffffff;
      margin-top: 30px;
      border: none;
      transition: background-color 0.3s ease-out; }
      .text--wrapper .subtitle--wrapper .button:hover {
        background-color: #cccccc; }
      .text--wrapper .subtitle--wrapper .button .a--link {
        color: #29ACB9; }

.info--section {
  width: 100%;
  background-color: #29ACB9;
  padding: 300px 0 100px;
  position: relative; }
  .info--section .info--wrapper {
    margin-left: 20%; }
    @media screen and (max-width: 1440px) {
      .info--section .info--wrapper {
        margin-left: 10%; } }
    .info--section .info--wrapper .info--title {
      color: #006070;
      font-family: "MontserratBold", Helvetica, Arial, sans-serif;
      font-size: 71px; }
    .info--section .info--wrapper .info--subtitle {
      color: #ffffff;
      font-family: "MontserratThin", Helvetica, Arial, sans-serif;
      font-size: 35px;
      line-height: 50px;
      margin-top: 65px; }
      .info--section .info--wrapper .info--subtitle .bold {
        font-family: "MontserratMedium", Helvetica, Arial, sans-serif;
        display: inline; }
      .info--section .info--wrapper .info--subtitle .thin {
        font-family: "MontserratThin", Helvetica, Arial, sans-serif; }
  .info--section .values--list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-top: 150px; }
    @media screen and (max-width: 1440px) {
      .info--section .values--list {
        width: 70%;
        margin-left: 10%; } }
    .info--section .values--list .list--item {
      width: 27%;
      max-width: 240px; }
      .info--section .values--list .list--item .item--title {
        color: #006070;
        font-family: "MontserratBold", Helvetica, Arial, sans-serif;
        font-size: 24px; }
      .info--section .values--list .list--item .item--text {
        color: #006070;
        font-family: "MontserratMedium", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        margin-top: 15px; }
  .info--section .bg--img {
    width: 100%;
    max-width: 100px;
    position: absolute;
    bottom: -3px;
    right: 350px; }
    @media screen and (max-width: 1440px) {
      .info--section .bg--img {
        right: 150px; } }

.img--section {
  width: 100%;
  height: 520px;
  background-image: url("../img/section-3.jpg");
  background-size: cover;
  background-position: top; }
  @media screen and (max-width: 1440px) {
    .img--section {
      height: 400px; } }

.coaching--section {
  background-color: #ffffff;
  padding: 90px 0; }
  .coaching--section .coaching--title {
    color: #006070;
    font-family: "MontserratMedium", Helvetica, Arial, sans-serif;
    font-size: 71px;
    text-align: center; }
    .coaching--section .coaching--title .color {
      color: #29ACB9; }
  .coaching--section .values--list {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 110px auto 0;
    text-align: center; }
    @media screen and (max-width: 1440px) {
      .coaching--section .values--list {
        width: 100%; } }
    .coaching--section .values--list .list--item {
      width: 27%;
      max-width: 378px;
      height: 378px;
      background-color: #29ACB9;
      border-radius: 200px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .coaching--section .values--list .list--item .item--wrapper {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center; }
        .coaching--section .values--list .list--item .item--wrapper.second {
          margin-bottom: 40px; }
      .coaching--section .values--list .list--item .img--item {
        width: 100%;
        max-width: 100px; }
        .coaching--section .values--list .list--item .img--item.obj {
          max-width: 60px; }
        .coaching--section .values--list .list--item .img--item.dsg {
          max-width: 70px; }
      .coaching--section .values--list .list--item .item--title {
        width: 100%;
        color: #006070;
        font-family: "MontserratBold", Helvetica, Arial, sans-serif;
        font-size: 24px;
        margin: 20px 0; }
      .coaching--section .values--list .list--item .item--text {
        max-width: 230px;
        color: #ffffff;
        font-family: "MontserratMedium", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px; }

.note--section {
  background-color: #006070;
  padding: 100px 0; }
  .note--section .first--text {
    color: #29ACB9;
    font-family: "MontserratLight", Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 45px; }
  .note--section .second--text {
    color: #ffffff;
    font-family: "MontserratBold", Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 45px; }

.footer {
  background-color: #757575;
  padding: 210px 0 70px; }
  .footer .footer--list {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end; }
    .footer .footer--list .list--item {
      width: 20%;
      display: flex;
      flex-flow: wrap;
      justify-content: flex-start; }
      .footer .footer--list .list--item .directions--wrapper .text--item {
        color: #ffffff;
        font-family: "MontserratLight", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 25px; }
      .footer .footer--list .list--item .info--wrapper .text--item {
        color: #ffffff;
        font-family: "MontserratLight", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 25px; }
      .footer .footer--list .list--item .social--wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-start; }
        .footer .footer--list .list--item .social--wrapper .social--list {
          width: 50%;
          display: flex;
          margin-top: 10px; }
          .footer .footer--list .list--item .social--wrapper .social--list .list--item {
            width: 25%; }
            .footer .footer--list .list--item .social--wrapper .social--list .list--item .img {
              max-width: 23px;
              height: 23px; }
      .footer .footer--list .list--item.first {
        margin-right: 120px; }
