@font-face {
  font-family: 'MontserratBlackItalic';
  src: url("../font/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'MontserratLightItalic';
  src: url("../font/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'MontserratExtraLight';
  src: url("../font/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'MontserratItalic';
  src: url("../font/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'MontserratExtraLightItalic';
  src: url("../font/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'MontserratMediumItalic';
  src: url("../font/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'MontserratLight';
  src: url("../font/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'MontserratThin';
  src: url("../font/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'MontserratExBoldIt';
  src: url("../font/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'MontserratMedium';
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MontserratSemiBold';
  src: url("../font/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'MontserratBold';
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'MontserratIt';
  src: url("../font/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'MontserratBlack';
  src: url("../font/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'MontserratExtraBold';
  src: url("../font/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'MontserratBoldItalic';
  src: url("../font/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MontserratSemiBoldItalic';
  src: url("../font/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ul {
  list-style: none; }

@font-face {
  font-family: 'MontserratBlackItalic';
  src: url("../font/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'MontserratLightItalic';
  src: url("../font/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'MontserratExtraLight';
  src: url("../font/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'MontserratItalic';
  src: url("../font/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'MontserratExtraLightItalic';
  src: url("../font/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'MontserratMediumItalic';
  src: url("../font/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'MontserratLight';
  src: url("../font/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'MontserratThin';
  src: url("../font/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'MontserratExBoldIt';
  src: url("../font/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'MontserratMedium';
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'MontserratSemiBold';
  src: url("../font/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'MontserratBold';
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'MontserratIt';
  src: url("../font/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'MontserratBlack';
  src: url("../font/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'MontserratExtraBold';
  src: url("../font/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'MontserratBoldItalic';
  src: url("../font/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MontserratSemiBoldItalic';
  src: url("../font/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ul {
  list-style: none; }

.wrapper {
  width: 98%;
  max-width: 1920px;
  margin: auto; }
  @media screen and (max-width: 1680px) {
    .wrapper {
      max-width: 1366px; } }
  @media screen and (max-width: 420px) {
    .wrapper {
      max-width: 98%; } }

.wrap--text {
  display: block; }

.hidden {
  visibility: hidden; }

.menu--wrapper {
  width: 98%;
  height: 90px;
  max-width: 1920px;
  position: relative;
  z-index: 9999;
  margin: auto; }
  @media screen and (max-width: 1680px) {
    .menu--wrapper {
      max-width: 1366px; } }
  @media screen and (max-width: 800px) {
    .menu--wrapper {
      width: 100%;
      height: 110px; } }
  .menu--wrapper .menu {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    position: fixed; }
    @media screen and (max-width: 800px) {
      .menu--wrapper .menu {
        height: 110px;
        background-color: #29ACB9; } }
    @media screen and (max-width: 420px) {
      .menu--wrapper .menu {
        height: 80px; } }
    .menu--wrapper .menu .logo {
      width: 40%; }
      @media screen and (max-width: 800px) {
        .menu--wrapper .menu .logo {
          margin-left: 4vw; } }
      .menu--wrapper .menu .logo a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        text-decoration: none; }
      .menu--wrapper .menu .logo .img {
        max-width: 350px;
        max-height: 135px;
        cursor: pointer; }
        @media screen and (max-width: 420px) {
          .menu--wrapper .menu .logo .img {
            max-height: 85px;
            margin-top: 10px; } }
    .menu--wrapper .menu .button {
      width: 100%;
      max-width: 130px;
      height: 40px;
      border-radius: 50px;
      align-items: center;
      display: flex;
      justify-content: center;
      border: 1px solid #ffffff;
      cursor: pointer; }
      .menu--wrapper .menu .button .a--link {
        color: #ffffff;
        font-family: "MontserratBold", Helvetica, Arial, sans-serif;
        font-size: 17px; }
        .menu--wrapper .menu .button .a--link:hover {
          color: #cccccc; }
    .menu--wrapper .menu .link {
      width: 30%; }
      @media screen and (max-width: 800px) {
        .menu--wrapper .menu .link {
          width: 60%; } }
      @media screen and (max-width: 420px) {
        .menu--wrapper .menu .link {
          display: none; } }
    .menu--wrapper .menu .social--wrapper {
      width: 20%; }
      .menu--wrapper .menu .social--wrapper .social--list {
        width: 50%;
        display: flex; }
        .menu--wrapper .menu .social--wrapper .social--list .list--item {
          width: 40%; }
          .menu--wrapper .menu .social--wrapper .social--list .list--item .img {
            max-width: 23px;
            height: 23px; }
      @media screen and (max-width: 800px) {
        .menu--wrapper .menu .social--wrapper {
          display: none; } }

.container {
  width: 100%;
  position: fixed;
  top: 25px;
  left: 95vw;
  z-index: 99999; }
  @media screen and (max-width: 800px) {
    .container {
      left: 88vw; } }
  @media screen and (max-width: 420px) {
    .container {
      left: 79vw;
      top: 10px; } }
  .container .hamburger--wrapper .hamburger-menu--wrapper {
    display: block;
    user-select: none; }
    .container .hamburger--wrapper .hamburger-menu--wrapper .input {
      display: block;
      width: 55px;
      height: 60px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none; }
      .container .hamburger--wrapper .hamburger-menu--wrapper .input:checked ~ .line--wrapper span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, 0px);
        background: #29ACB9; }
      .container .hamburger--wrapper .hamburger-menu--wrapper .input:checked ~ .line--wrapper span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      .container .hamburger--wrapper .hamburger-menu--wrapper .input:checked ~ .line--wrapper span:nth-last-child(1) {
        transform: rotate(-45deg) translate(0, -8px); }
      .container .hamburger--wrapper .hamburger-menu--wrapper .input:checked ~ ul {
        transform: none; }
    .container .hamburger--wrapper .hamburger-menu--wrapper .line--wrapper {
      width: 50px;
      height: 50px;
      padding: 13px;
      box-sizing: border-box;
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      border-radius: 30px;
      cursor: pointer; }
      @media screen and (max-width: 420px) {
        .container .hamburger--wrapper .hamburger-menu--wrapper .line--wrapper {
          width: 45px;
          height: 45px;
          padding: 11px; } }
    .container .hamburger--wrapper .hamburger-menu--wrapper .line {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #29ACB9;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      .container .hamburger--wrapper .hamburger-menu--wrapper .line:first-child {
        transform-origin: 0% 0%; }
      .container .hamburger--wrapper .hamburger-menu--wrapper .line:nth-last-child(2) {
        transform-origin: 0% 100%; }
    .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list {
      width: 100%;
      max-width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      padding: 50px;
      padding-top: 125px;
      box-sizing: border-box;
      display: flex;
      background-color: #f2f2f2;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      @media screen and (max-width: 420px) {
        .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list {
          max-width: 100%;
          height: 100%;
          padding: 30px;
          padding-top: 120px; } }
      .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .menu--responsive--social {
        display: none; }
      .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--container {
        display: flex;
        flex-direction: column; }
        @media screen and (max-width: 800px) {
          .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--container {
            justify-content: space-around;
            max-height: 90%; } }
        @media screen and (max-width: 420px) {
          .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--container {
            justify-content: space-around;
            max-height: 90%; } }
      .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item {
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        padding: 10px 0; }
        .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item a,
        .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item a:visited {
          font-family: "MontserratSemiBold", Helvetica, Arial, sans-serif;
          color: #006070;
          font-size: 60px;
          line-height: 70px;
          color: #006070; }
          @media screen and (max-width: 1440px) {
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item a,
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item a:visited {
              font-size: 50px;
              line-height: 60px; } }
          @media screen and (max-width: 420px) {
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item a,
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item a:visited {
              font-size: 36px;
              line-height: 40px; } }
          @media screen and (max-width: 320px) {
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item a,
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item a:visited {
              font-size: 32px;
              line-height: normal; } }
        .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item a:hover {
          color: #29ACB9; }
        .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item .item--img {
          width: 100%;
          max-width: 90px;
          position: absolute;
          top: 130px;
          left: 600px; }
          @media screen and (max-width: 1440px) {
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item .item--img {
              max-width: 70px;
              top: 145px; }
              .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item .item--img.home {
                top: 135px; }
              .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item .item--img.workshop {
                top: 165px; }
              .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item .item--img.contacto {
                top: 175px; } }
        .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item .bg--img {
          width: 100%;
          max-width: 100px;
          position: fixed;
          bottom: 15px;
          left: 600px; }
          @media screen and (max-width: 1440px) {
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .list--item .bg--img {
              left: 400px; } }
      .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .submenu--wrapper {
        max-height: 300px;
        display: flex;
        flex-direction: column;
        margin: 100px 0 0 200px; }
        @media screen and (max-width: 1440px) {
          .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .submenu--wrapper {
            margin-left: 250px; } }
        @media screen and (max-width: 800px) {
          .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .submenu--wrapper {
            display: none; } }
        .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .submenu--wrapper a,
        .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .submenu--wrapper a:visited {
          font-family: "Montserrat", Helvetica, Arial, sans-serif;
          color: #006070;
          font-size: 60px;
          line-height: 70px;
          color: #006070; }
          @media screen and (max-width: 1440px) {
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .submenu--wrapper a,
            .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .submenu--wrapper a:visited {
              font-size: 50px;
              line-height: 60px; } }
        .container .hamburger--wrapper .hamburger-menu--wrapper .hamburger--list .submenu--wrapper a:hover {
          color: #29ACB9; }

.wrapper {
  width: 98%;
  max-width: 1920px;
  margin: auto; }
  @media screen and (max-width: 1680px) {
    .wrapper {
      max-width: 1366px; } }
  @media screen and (max-width: 420px) {
    .wrapper {
      max-width: 98%; } }

.wrap--text {
  display: block; }

.button {
  width: 100%;
  max-width: 160px;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff;
  cursor: pointer; }
  .button .a--link {
    color: #ffffff;
    font-family: "MontserratBold", Helvetica, Arial, sans-serif;
    font-size: 17px; }
    .button .a--link:hover {
      color: #cccccc; }

.header--section {
  width: 100%;
  background-color: #29ACB9;
  padding-bottom: 140px;
  position: relative; }
  .header--section .info--wrapper {
    margin-left: 20%; }
    @media screen and (max-width: 1440px) {
      .header--section .info--wrapper {
        margin-left: 10%; } }
    @media screen and (max-width: 420px) {
      .header--section .info--wrapper {
        margin-left: 0; } }
    .header--section .info--wrapper .info--title {
      color: #006070;
      font-family: "MontserratBold", Helvetica, Arial, sans-serif;
      font-size: 71px;
      margin-top: 160px; }
      @media screen and (max-width: 1440px) {
        .header--section .info--wrapper .info--title {
          margin-top: 120px; } }
      @media screen and (max-width: 800px) {
        .header--section .info--wrapper .info--title {
          font-size: 54px; } }
      @media screen and (max-width: 420px) {
        .header--section .info--wrapper .info--title {
          font-size: 34px;
          margin-top: 80px;
          text-align: center; } }
    .header--section .info--wrapper .info--list {
      max-width: 800px;
      color: #ffffff;
      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      font-size: 24px;
      line-height: 36px;
      margin-top: 65px; }
      @media screen and (max-width: 420px) {
        .header--section .info--wrapper .info--list {
          max-width: 270px;
          font-size: 16px;
          line-height: 24px;
          margin: 65px auto; } }
      .header--section .info--wrapper .info--list .bold {
        font-family: "MontserratMedium", Helvetica, Arial, sans-serif;
        display: inline; }
      .header--section .info--wrapper .info--list .thin {
        font-family: "MontserratThin", Helvetica, Arial, sans-serif; }
      .header--section .info--wrapper .info--list .list--item {
        margin: 0 20px 10px 0;
        position: relative; }
        .header--section .info--wrapper .info--list .list--item::before {
          content: '';
          background: url(./../img/bullet.svg) no-repeat;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 10px;
          margin-left: -30px; }
          @media screen and (max-width: 420px) {
            .header--section .info--wrapper .info--list .list--item::before {
              width: 13px;
              height: 13px;
              top: 5px;
              margin-left: -21px; } }
        @media screen and (max-width: 800px) {
          .header--section .info--wrapper .info--list .list--item {
            margin-left: 30px; }
            .header--section .info--wrapper .info--list .list--item .wrap--text {
              display: block; } }
        @media screen and (max-width: 420px) {
          .header--section .info--wrapper .info--list .list--item .wrap--text {
            display: inline; } }
    .header--section .info--wrapper .button {
      max-width: 140px;
      background-color: #ffffff;
      margin-top: 60px; }
      @media screen and (max-width: 420px) {
        .header--section .info--wrapper .button {
          max-width: 100px;
          height: 40px;
          margin-left: 30px;
          margin-top: 120px; } }
      .header--section .info--wrapper .button .a--link {
        color: #29ACB9;
        font-size: 25px; }
        @media screen and (max-width: 420px) {
          .header--section .info--wrapper .button .a--link {
            font-size: 20px; } }
  .header--section .bg--img {
    width: 100%;
    max-width: 80px;
    position: absolute;
    bottom: -3px;
    right: 350px; }
    @media screen and (max-width: 1440px) {
      .header--section .bg--img {
        right: 150px; } }
    @media screen and (max-width: 800px) {
      .header--section .bg--img {
        max-width: 66px;
        right: 50px; } }
    @media screen and (max-width: 420px) {
      .header--section .bg--img {
        display: none; } }

.footer {
  background-color: #757575;
  padding: 210px 0 70px; }
  @media screen and (max-width: 420px) {
    .footer {
      padding-top: 110px; } }
  .footer .footer--list {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end; }
    .footer .footer--list .list--item {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      @media screen and (max-width: 420px) {
        .footer .footer--list .list--item {
          flex-flow: wrap;
          justify-content: center; } }
      .footer .footer--list .list--item .info--wrapper {
        width: 50%;
        margin-left: 3vw; }
        @media screen and (max-width: 800px) {
          .footer .footer--list .list--item .info--wrapper {
            margin-left: 4vw; } }
        @media screen and (max-width: 420px) {
          .footer .footer--list .list--item .info--wrapper {
            width: 100%;
            margin-left: 0;
            text-align: center;
            order: 2; } }
        .footer .footer--list .list--item .info--wrapper .text--item {
          color: #ffffff;
          font-family: "MontserratLight", Helvetica, Arial, sans-serif;
          font-size: 16px;
          line-height: 25px; }
      .footer .footer--list .list--item .social--wrapper {
        width: 50%;
        display: flex;
        justify-content: flex-end; }
        @media screen and (max-width: 420px) {
          .footer .footer--list .list--item .social--wrapper {
            width: 100%;
            justify-content: center;
            order: 1;
            margin-bottom: 90px; } }
        .footer .footer--list .list--item .social--wrapper .social--list {
          width: 40%;
          display: flex;
          margin-top: 10px;
          justify-content: center; }
          @media screen and (max-width: 800px) {
            .footer .footer--list .list--item .social--wrapper .social--list {
              width: 50%; } }
          .footer .footer--list .list--item .social--wrapper .social--list .list--item {
            width: 30%; }
            .footer .footer--list .list--item .social--wrapper .social--list .list--item .img {
              max-width: 23px;
              height: 23px; }
              @media screen and (max-width: 420px) {
                .footer .footer--list .list--item .social--wrapper .social--list .list--item .img {
                  max-width: 27px;
                  height: 27px; } }
      .footer .footer--list .list--item.first {
        margin-right: 120px; }
