@import './stylesheet.scss';
@import './reset.scss';
@import'./menu.scss';

// color variables

$colorWhite: #ffffff;
$colorAqua: #29ACB9;
$colorDarkAqua: #006070;
$colorDarkGrey: #757575;

$mobile-768: 800px;

//global classes

.wrapper{
	width: 98%;
  max-width: 1920px;
  margin: auto;
	@media screen and (max-width:1680px){
		max-width: 1366px;
  }
  @media screen and (max-width: $mobile-420) {
    max-width: 98%;
  }
}
.wrap--text{
	display: block;
}

.button{
	width: 100%;
	max-width: 160px;
	height: 50px;
	border-radius: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
	border: 1px solid $colorWhite;
	cursor: pointer;
	.a--link{
		color: $colorWhite;
		font-family: $font-bold;
		font-size: 17px;
		&:hover{
		 color: darken($color: $colorWhite, $amount: 20%)
		}
	}
}

//COACHING SECTION

.header--section{
	width: 100%;
	height: 670px;
	background-image: url("../img/section-2/header-coaching.jpg");
	background-size: cover;
	background-position: bottom;
	position: relative;
	@media screen and (max-width: 1440px){
		height: 500px;
  }
  @media screen and (max-width: $mobile-768) {
    height: 730px;
    background-image: url('../img/section-2/personal-bg-768.jpg');
    background-position: top;
  }
  @media screen and (max-width: $mobile-420) {
    height: 660px;
  }
  .wrapper{
    height: 950px;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width:1440px){
      height: 630px;
    }
    @media screen and (max-width: $mobile-768) {
      width: 95%;
      height: 960px;
    }
    .dot--wrapper{
      width: 100px;
      display: flex;
      position: relative;
      .dot{
        background-color: $colorAqua;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        position: absolute;
        top: 40px;
        left: 80px;
        @media screen and (max-width:1680px){
          left: 320px;
        }
        @media screen and (max-width:1440px){
          top: 40px;
          left: 80px;
        }
        @media screen and (max-width:1280px){
          left: 90px;
        }
        @media screen and (max-width: $mobile-768) {
          width: 80px;
          height: 80px;
          top: 160px;
          left: 290px;
        }
        @media screen and (max-width: $mobile-420) {
          width: 65px;
          height: 65px;
          top: 0;
          left: 230px;
        }
      }
    }
    .logo--wrapper{
      width: 100%;
      max-width: 360px;
      margin-right: 60px;
      @media screen and (max-width:1440px){
        max-width: 300px;
        margin-right: 0;
      }
      @media screen and (max-width: $mobile-420){
        max-width: 210px;
      }
    }
  }
}

.info--section{
  background-color: #f2f2f2;
  padding: 50px 0;
  @media screen and (max-width:$mobile-420){
    padding: 160px 0;
  }
  .text--wrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    @media screen and (max-width:1440px){
      margin-right: 10px;
    }
    @media screen and (max-width:$mobile-420){
      justify-content: center;
      margin-right: 0;
    }

    .info--text{
      width: 100%;
      max-width: 710px;
      color: $colorDarkGrey;
      font-family: $font-light;
      font-size: 20px;
      line-height: 30px;
      text-align: right;
      @media screen and (max-width:$mobile-420){
        max-width: 250px;
        text-align: center;
      }
      .bold{
        font-family: $font-bold;
      }
    }
  }
  .social--wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .social--list{
      width: 10%;
      display: flex;
      margin-top: 20px;
      .list--item{
        width: 25%;
        .img{
          max-width: 23px;
          height: 23px;
        }
      }
    }
  }
  &.organization{
    background-color: $colorAqua;
    .info--text{
      color: $colorWhite;
    }
  }
  &.executive{
    background-color:$colorDarkAqua;
    padding-bottom: 200px;
    @media screen and (max-width: $mobile-420) {
      padding-bottom: 160px;
    }
    .info--text{
      color:$colorWhite;
    }
  }
}
.organization--section{
  width: 100%;
	height: 670px;
	background-image: url("../img/section-2/organization-bg.jpg");
	background-size: cover;
	background-position: bottom;
	position: relative;
	@media screen and (max-width: 1440px){
		height: 500px;
  }
  @media screen and (max-width: $mobile-768) {
    height: 730px;
    background-image: url('../img/section-2/organization-bg-768.jpg');
  }
  @media screen and(max-width: $mobile-420) {
    height: 780px;
    background-image: url('../img/section-2/organization-bg-420.jpg');
  }
  .wrapper{
    height: 1100px;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width:1440px){
      height: 830px;
    }
    @media screen and (max-width: $mobile-768) {
      width: 95%;
      height: 1200px;
    }
    @media screen and (max-width: $mobile-420) {
      height: 1300px;
      display: block;
    }
    .dot--wrapper{
      width: 100px;
      display: flex;
      position: relative;
      .dot{
        background-color: $colorAqua;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        position: absolute;
        top: 90px;
        left: 240px;
        @media screen and (max-width:1680px){
          top: 140px;
          left: 500px;
        }
        @media screen and (max-width:1440px){
          top: 90px;
          left: 240px;
        }
        @media screen and (max-width:1280px){
          left: 280px;
        }
        @media screen and (max-width: $mobile-768) {
          width: 80px;
          height: 80px;
          top: 200px;
          left: 460px;
        }
        @media screen and (max-width: $mobile-420) {
          width: 65px;
          height: 65px;
          top: 50px;
          left: 230px;
        }
      }
    }
    .logo--wrapper{
      width: 100%;
      max-width: 570px;
      margin-right: 30px;
      @media screen and (max-width:1440px){
        max-width: 470px;
        margin-right: 0;
      }
    }
  }
}

.executive--section{
  width: 100%;
	height: 670px;
	background-image: url("../img/section-2/executive-bg.jpg");
	background-size: cover;
	background-position: bottom;
	position: relative;
	@media screen and (max-width: 1440px){
		height: 500px;
  }
  @media screen and (max-width: $mobile-768) {
    height: 730px;
    background-image: url('../img/section-2/executive-bg-768.jpg');
    background-position: top;
  }
  @media screen and (max-width: $mobile-420){
    height: 780px;
    background-image: url('../img/section-2/ejecutivo-420.jpg');
  }
  .wrapper{
    height: 1100px;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width:1440px){
      height: 830px;
    }
    @media screen and (max-width: $mobile-768) {
      width: 95%;
      height: 1200px;
    }
    @media screen and (max-width: $mobile-420) {
      height: 1430px;
    }
    .dot--wrapper{
      width: 100px;
      display: flex;
      position: relative;
      .dot{
        background-color: $colorAqua;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        position: absolute;
        top: 100px;
        left: 60px;
        @media screen and (max-width:1680px){
          left: 310px;
        }
        @media screen and (max-width:1440px){
          top: 60px;
          left: 70px;
        }
        @media screen and (max-width:1280px){
          left: 120px;
        }
        @media screen and (max-width: $mobile-768) {
          width: 80px;
          height: 80px;
          top: 180px;
          left: 310px;
        }
        @media screen and(max-width: $mobile-420) {
          width: 65px;
          height: 65px;
          top: 90px;
          left: 230px;
        }
      }
    }
    .logo--wrapper{
      width: 100%;
      max-width: 380px;
      margin-right: 30px;
      @media screen and (max-width:1440px){
        max-width: 320px;
        margin-right: 0;
      }
    }
  }
}

.footer {
  background-color: $colorDarkGrey;
  padding: 210px 0 70px;
  @media screen and (max-width: $mobile-420){
    padding-top: 110px;
  }
  .footer--list {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    .list--item {
      width: 100%;
      display: flex;
      justify-content: space-around;
      @media screen and (max-width:$mobile-420){
        flex-flow: wrap;
        justify-content: center;
      }
      .info--wrapper {
        width: 50%;
        margin-left: 3vw;
        @media screen and (max-width: $mobile-768) {
          margin-left: 4vw;
        }
        @media screen and (max-width: $mobile-420) {
          width: 100%;
          margin-left: 0;
          text-align: center;
          order: 2;
        }
        .text--item {
          color: $colorWhite;
          font-family: $font-light;
          font-size: 16px;
          line-height: 25px;
        }
      }
      .social--wrapper {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: $mobile-420){
          width: 100%;
          justify-content: center;
          order: 1;
          margin-bottom: 90px;
        }
        .social--list {
          width: 40%;
          display: flex;
          margin-top: 10px;
          @media screen and (max-width: $mobile-768) {
            width: 50%;
          }
          .list--item {
            width: 30%;
            .img {
              max-width: 23px;
              height: 23px;
              @media screen and (max-width: $mobile-420) {
                max-width: 27px;
                height: 27px;
              }
            }
          }
        }
      }
      &.first {
        margin-right: 120px;
      }
    }
  }
}