@import './stylesheet.scss';
@import './reset.scss';
@import './menu.scss';


// color variables

$colorWhite: #ffffff;
$colorAqua: #29ACB9;
$colorDarkAqua: #006070;
$colorDarkGrey: #757575;

//global classes

.wrapper{
	width: 98%;
  max-width: 1920px;
  margin: auto;
	@media screen and (max-width:1680px){
		max-width: 1366px;
	}
}
.wrap--text{
	display: block;
}

.button{
	width: 100%;
	max-width: 160px;
	height: 50px;
	border-radius: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
	border: 1px solid $colorWhite;
	cursor: pointer;
	.a--link{
		color: $colorWhite;
		font-family: $font-bold;
		font-size: 17px;
		&:hover{
		 color: darken($color: $colorWhite, $amount: 20%)
		}
	}
}

//CONTACT SECTION

.header--section{
  width: 100%;
	background-color: $colorAqua;
	}
    .info--section{
        width: 100%;
        background-color: $colorAqua;
        padding: 150px 0 100px;
        position: relative;
        .info--wrapper{
        margin-left: 20%;
        @media screen and (max-width: 1440px){
          margin-left: 10%;
        }
        .info--title{
          color: $colorDarkAqua;
          font-family: $font-bold;
          font-size: 71px;
        }
       
      .bg--img{
        width: 100%;
        max-width: 100px;
        position: absolute;
        bottom: -3px;
        right: 350px;
        @media screen and (max-width:1440px){
          right: 150px;
        }
      }
    
      .contact--form {
          height: 600px;
          width: 650px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 50px;
    
    
          .input--wrapper {
              display: flex;
              flex-direction: column;
    
              label {
                  font-family: $font-semibold;
                  color: $colorDarkAqua;
                  font-size: 22px;
                  margin: 0 0 15px 25px;
              }
          }
    
          input {
              height: 60px;
              border: 0;
              padding-left: 30px;
          }
    
          textarea {
              height: 270px;
              padding: 0 15px;
          }
    
          input, textarea {
            font-family: $font-medium;
            font-size: 20px;
            border-radius: 30px;
            color: $colorDarkGrey;
          }
        }
      }
    }

    .footer {
      background-color: $colorDarkGrey;
      padding: 210px 0 70px;
      .footer--list {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-end;
        .list--item {
          width: 20%;
          display: flex;
          flex-flow: wrap;
          justify-content: flex-start;
          @media screen and (max-width: $mobile-768) {
            width: 30%;
          }
          .directions--wrapper {
            .text--item {
              color: $colorWhite;
              font-family: $font-light;
              font-size: 16px;
              line-height: 25px;
            }
          }
          .info--wrapper {
            .text--item {
              color: $colorWhite;
              font-family: $font-light;
              font-size: 16px;
              line-height: 25px;
            }
          }
          .social--wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            .social--list {
              width: 50%;
              display: flex;
              margin-top: 10px;
              @media screen and (max-width: $mobile-768) {
                width: 65%;
              }
              .list--item {
                width: 25%;
                .img {
                  max-width: 23px;
                  height: 23px;
                }
              }
            }
          }
          &.first {
            margin-right: 120px;
          }
        }
      }
    }