@import './stylesheet.scss';
@import './reset.scss';
@import './menu.scss';


// color variables

$colorWhite: #ffffff;
$colorAqua: #29ACB9;
$colorDarkAqua: #006070;
$colorDarkGrey: #757575;

//global classes

.wrapper{
	width: 98%;
  max-width: 1920px;
  margin: auto;
	@media screen and (max-width:1680px){
		max-width: 1366px;
	}
}
.wrap--text{
	display: block;
}

.button{
	width: 100%;
	max-width: 160px;
	height: 50px;
	border-radius: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
	border: 1px solid $colorWhite;
	cursor: pointer;
	.a--link{
		color: $colorWhite;
		font-family: $font-bold;
		font-size: 17px;
		&:hover{
		 color: darken($color: $colorWhite, $amount: 20%)
		}
	}
}

//CONTACT SECTION

.header--section{
  width: 100%;
	background-color: $colorAqua;
	}
    .info--section{
        width: 100%;
        background-color: $colorAqua;
        padding: 150px 0 100px;
        position: relative;
        @media screen and (max-width: $mobile-768){
          padding-top:50px;
        }
        @media screen and (max-width: 420px) {
          min-width: 100vw;
          padding-top: 10px;
        }
        .info--wrapper{
        margin-left: 20%;
        @media screen and (max-width: 1440px){
          margin-left: 10%;
        }
        @media screen and (max-width: $mobile-768){
          margin: 5%;
        }
        .info--title{
          color: $colorDarkAqua;
          font-family: $font-bold;
          font-size: 71px;
          @media screen and (max-width: $mobile-768){
            font-size:54px;
          }
          @media screen and (max-width: 420px) {
            font-size: 36px;
          }
        }
       
      .bg--img{
        width: 100%;
        max-width: 100px;
        position: absolute;
        bottom: -3px;
        right: 350px;
        @media screen and (max-width:1440px){
          right: 150px;
        }
        @media screen and (max-width:$mobile-768) {
          display: none;
        }
      }
    
      .contact--form {
          height: 600px;
          width: 650px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 50px;
          @media screen and (max-width: $mobile-768){
            width: 550px;
            height: 570px;
            margin-top: 80px;
          }
          @media screen and (max-width: 420px) {
            width: 100%;
            height: 400px;
            margin-top: 20px;
            margin: auto;
          }
    
          .input--wrapper {
              display: flex;
              flex-direction: column;
              @media screen and (max-width: 420px){
                padding: 30px 0 10px;
              }
    
              label {
                  font-family: $font-semibold;
                  color: $colorDarkAqua;
                  font-size: 22px;
                  margin: 0 0 15px 25px;
                  @media screen and (max-width: $mobile-768){
                    font-size: 18px;
                  }
                  @media screen and (max-width: 420px){
                    font-size: 11px;
                    margin: 30px 0 5px 25px;
                  }
              }
          }
    
          input {
              height: 60px;
              border: 0;
              padding-left: 30px;
              @media screen and (max-width: 420px){
                height: 40px;
                padding: 10px 0 10px 30px;
              }
          }
    
          textarea {
              height: 270px;
              padding: 0 15px;
              @media screen and (max-width: 420px){
                height: 400px;
              }
          }
    
          input, textarea {
            font-family: $font-medium;
            font-size: 20px;
            border-radius: 30px;
            color: $colorDarkGrey;
            @media screen and (max-width: 420px){
              font-size: 10px;
            }
          }
        }
      }
    }

    .footer {
      background-color: $colorDarkGrey;
      padding: 210px 0 70px;
      @media screen and (max-width: $mobile-420){
        padding-top: 110px;
      }
      .footer--list {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-end;
        .list--item {
          width: 100%;
          display: flex;
          justify-content: space-around;
          @media screen and (max-width:$mobile-420){
            flex-flow: wrap;
            justify-content: center;
          }
          .info--wrapper {
            width: 50%;
            margin-left: 3vw;
            @media screen and (max-width: $mobile-768) {
              margin-left: 4vw;
            }
            @media screen and (max-width: $mobile-420) {
              width: 100%;
              margin-left: 0;
              text-align: center;
              order: 2;
            }
            .text--item {
              color: $colorWhite;
              font-family: $font-light;
              font-size: 16px;
              line-height: 25px;
            }
          }
          .social--wrapper {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            @media screen and (max-width: $mobile-420){
              width: 100%;
              justify-content: center;
              order: 1;
              margin-bottom: 90px;
            }
            .social--list {
              width: 40%;
              display: flex;
              margin-top: 10px;
              justify-content: center;
              @media screen and (max-width: $mobile-768) {
                width: 50%;
              }
              .list--item {
                width: 30%;
                .img {
                  max-width: 23px;
                  height: 23px;
                  @media screen and (max-width: $mobile-420) {
                    max-width: 27px;
                    height: 27px;
                  }
                }
              }
            }
          }
          &.first {
            margin-right: 120px;
          }
        }
      }
    }