@import './stylesheet.scss';
@import './reset.scss';
@import'./menu.scss';


// color variables

$colorWhite: #ffffff;
$colorAqua: #29ACB9;
$colorDarkAqua: #006070;
$colorDarkGrey: #757575;

$mobile-768: 800px;
$mobile-420: 420px;
//global classes

.wrapper{
	width: 98%;
  max-width: 1920px;
  margin: auto;
	@media screen and (max-width:1680px){
		max-width: 1366px;
  }
  @media screen and (max-width: $mobile-420) {
    max-width: 98%;
  }
}
.wrap--text{
	display: block;
}

.button{
	width: 100%;
	max-width: 160px;
	height: 50px;
	border-radius: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
	border: 1px solid $colorWhite;
	cursor: pointer;
	.a--link{
		color: $colorWhite;
		font-family: $font-bold;
		font-size: 17px;
		&:hover{
		 color: darken($color: $colorWhite, $amount: 20%)
		}
	}
}

//TEAM SECTION

.header--section{
	width: 100%;
  background-color: $colorAqua;
  padding-bottom: 100px;
  @media screen and (max-width: $mobile-420) {
    padding-bottom: 20px;
  }
  .text--wrapper{
    width: 70%;
		display: flex;
		align-items: center;
		flex-flow: column wrap;
		margin-top: 130px;
		@media screen and (max-width: 1440px){
      width: 90%;
	  	margin-top: 100px;
    }
    @media screen and (max-width: $mobile-768) {
      margin-left: 5%;
    }
    @media screen and (max-width: $mobile-420) {
      margin: auto;
      text-align: center;
    }
    .title{
      width: 100%;
      max-width: 720px;
      color: $colorDarkAqua;
      font-family: $font-semibold;
      font-size: 71px;
      @media screen and (max-width: $mobile-768){
        font-size: 54px;
      }
    }
    .text{
      max-width: 710px;
      color: $colorWhite;
      font-family: $font-normal;
      font-size: 24px;
      line-height: 33px;
      margin-top: 70px;
    }
  }
}
.team--section{
  background-color: $colorAqua;
  padding: 150px 0 170px;
  @media screen and (max-width: $mobile-768) {
    padding-top: 80px;
  }
  .team--list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    @media screen and (max-width: $mobile-768) {
      width: 95%;
      align-items: flex-start;
      flex-flow: wrap;
      margin-left: 5%;
    }
    .list--item{
      width: 25%;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: center;
      @media screen and (max-width: $mobile-768) {
        width: 50%;
        margin-bottom: 30px;
        align-items: flex-start;
      }
      @media screen and (max-width: $mobile-420) {
        width: 100%;
        align-items: center;
        margin-top: 130px;
        margin-bottom: 0;
      }
      .img--item{
        width: 250px;
      }
      .text--wrapper{
        max-width: 290px;
        text-align: left;
        margin-top: 50px;
        margin-left: 15%;
        @media screen and (max-width: $mobile-768){
          max-width: 300px;
          margin-left: 5%;
          margin-top: 30px;
        }
        @media screen and (max-width: $mobile-420) {
          margin-left: 0;
          text-align: center;
        }
        .list--name{
          color: $colorWhite;
          font-family: $font-bold;
          font-size: 31px;
          margin-bottom: 10px;
          @media screen and (max-width: $mobile-768) {
            font-size: 25px;
          }
        }
        .list--title{
          color: $colorDarkAqua;
          font-family: $font-semibold;
          font-size: 16px;
          @media screen and (max-width: $mobile-768) {
            font-size: 13px;
          }
        }
        .list--text{
          max-width: 290px;
          color: $colorWhite;
          font-family: $font-light;
          font-size: 16px;
          line-height: 24px;
          margin-top: 20px;
          @media screen and (max-width: $mobile-768) {
            max-width: 300px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
.footer {
  background-color: $colorDarkGrey;
  padding: 210px 0 70px;
  @media screen and (max-width: $mobile-420){
    padding-top: 110px;
  }
  .footer--list {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    .list--item {
      width: 100%;
      display: flex;
      justify-content: space-around;
      @media screen and (max-width:$mobile-420){
        flex-flow: wrap;
        justify-content: center;
      }
      .info--wrapper {
        width: 50%;
        margin-left: 3vw;
        @media screen and (max-width: $mobile-768) {
          margin-left: 4vw;
        }
        @media screen and (max-width: $mobile-420) {
          width: 100%;
          margin-left: 0;
          text-align: center;
          order: 2;
        }
        .text--item {
          color: $colorWhite;
          font-family: $font-light;
          font-size: 16px;
          line-height: 25px;
        }
      }
      .social--wrapper {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: $mobile-420){
          width: 100%;
          justify-content: center;
          order: 1;
          margin-bottom: 90px;
        }
        .social--list {
          width: 40%;
          display: flex;
          margin-top: 10px;
          @media screen and (max-width: $mobile-768) {
            width: 50%;
          }
          .list--item {
            width: 30%;
            .img {
              max-width: 23px;
              height: 23px;
              @media screen and (max-width: $mobile-420) {
                max-width: 27px;
                height: 27px;
              }
            }
          }
        }
      }
      &.first {
        margin-right: 120px;
      }
    }
  }
}
