@import './stylesheet.scss';
@import './reset.scss';
@import'./menu.scss';


// color variables

$colorWhite: #ffffff;
$colorAqua: #29ACB9;
$colorDarkAqua: #006070;
$colorDarkGrey: #757575;

//global classes

.wrapper{
	width: 98%;
  max-width: 1920px;
  margin: auto;
	@media screen and (max-width:1680px){
		max-width: 1366px;
	}
}
.wrap--text{
	display: block;
}

.button{
	width: 100%;
	max-width: 160px;
	height: 50px;
	border-radius: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
	border: 1px solid $colorWhite;
	cursor: pointer;
	.a--link{
		color: $colorWhite;
		font-family: $font-bold;
		font-size: 17px;
		&:hover{
		 color: darken($color: $colorWhite, $amount: 20%)
		}
	}
}

//TEAM SECTION

.header--section{
	width: 100%;
  background-color: $colorAqua;
  padding-bottom: 100px;
  .text--wrapper{
    width: 70%;
		display: flex;
		align-items: center;
		flex-flow: column wrap;
		margin-top: 130px;
		@media screen and (max-width: 1440px){
      width: 90%;
	  	margin-top: 100px;
    }
    .title{
      width: 100%;
      max-width: 720px;
      color: $colorDarkAqua;
      font-family: $font-semibold;
      font-size: 71px;
    }
    .text{
      max-width: 710px;
      color: $colorWhite;
      font-family: $font-normal;
      font-size: 24px;
      line-height: 33px;
      margin-top: 70px;
    }
  }
}
.team--section{
  background-color: $colorAqua;
  padding: 150px 0 170px;
  .social--wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    .social--list{
      width: 10%;
      display: flex;
      margin-top: 20px;
      .list--item{
        width: 25%;
        .img{
          max-width: 23px;
          height: 23px;
        }
      }
    }
  }
  .team--list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .list--item{
      width: 25%;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: center;
      .img--item{
        width: 250px;
      }
      .text--wrapper{
        max-width: 290px;
        text-align: left;
        margin-top: 50px;
        margin-left: 15%;
        .list--name{
          color: $colorWhite;
          font-family: $font-bold;
          font-size: 31px;
          margin-bottom: 10px;
        }
        .list--title{
          color: $colorDarkAqua;
          font-family: $font-semibold;
          font-size: 16px;
        }
        .list--text{
          max-width: 290px;
          color: $colorWhite;
          font-family: $font-light;
          font-size: 16px;
          line-height: 24px;
          margin-top: 20px;
        }
      }
    }
  }
}
.footer{
  background-color: $colorDarkGrey;
  padding: 210px 0 70px;
  .footer--list{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    .list--item{
      width: 20%;
      display: flex;
      flex-flow: wrap;
      justify-content: flex-start;
      .directions--wrapper{
        .text--item{
          color: $colorWhite;
          font-family: $font-light;
          font-size: 16px;
          line-height: 25px;
        }
      }
      .info--wrapper{
        .text--item{
          color: $colorWhite;
          font-family: $font-light;
          font-size: 16px;
          line-height: 25px;
        }
      }
      .social--wrapper{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        .social--list{
          width: 50%;
          display: flex;
          margin-top: 10px;
          .list--item{
            width: 20%;
            .img{
              max-width: 23px;
              height: 23px;
            }
          }
        }
      }
      &.first{
        margin-right: 120px;
      }
    }
  }
}
