@import './stylesheet.scss';
@import './reset.scss';
@import'./menu.scss';
// color variables
$colorWhite: #ffffff;
$colorAqua: #29ACB9;
$colorDarkAqua: #006070;
$colorDarkGrey: #757575;

$mobile-768: 800px;

//global classes
.wrapper {
  width: 98%;
  max-width: 1920px;
  margin: auto;
  @media screen and (max-width: 1680px) {
    max-width: 1366px;
  }
  @media screen and (max-width: $mobile-420){
    max-width: 98%;
  }
}

.wrap--text {
  display: block;
}

.button {
  width: 100%;
  max-width: 160px;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid $colorWhite;
  cursor: pointer;
  .a--link {
    color: $colorWhite;
    font-family: $font-bold;
    font-size: 17px;
    &:hover {
      color: darken($color: $colorWhite, $amount: 20%)
    }
  }
}

//WORKSHOPS SECTION
.header--section {
  width: 100%;
  background-color: $colorAqua;
  padding-bottom: 140px;
  position: relative;
  .info--wrapper {
    margin-left: 20%;
    @media screen and (max-width: 1440px) {
      margin-left: 10%;
    }
    @media screen and (max-width: $mobile-420){
      margin-left: 0;
    }
    .info--title {
      color: $colorDarkAqua;
      font-family: $font-bold;
      font-size: 71px;
      margin-top: 160px;
      @media screen and (max-width: 1440px) {
        margin-top: 120px;
      }
      @media screen and (max-width: $mobile-768) {
        font-size: 54px;
      }
      @media screen and (max-width: $mobile-420) {
        font-size: 34px;
        margin-top: 80px;
        text-align: center;
      }
    }
    .info--list {
      max-width: 800px;
      color: $colorWhite;
      font-family: $font-normal;
      font-size: 24px;
      line-height: 36px;
      margin-top: 65px;
      @media screen and (max-width: $mobile-420){
        max-width: 270px;
        font-size: 16px;
        line-height: 24px;
        margin: 65px auto;
      }
      .bold {
        font-family: $font-medium;
        display: inline;
      }
      .thin {
        font-family: $font-thin;
      }
      .list--item {
        margin: 0 20px 10px 0;
        position: relative;
        &::before {
          content: '';
          background: url(./../img/bullet.svg) no-repeat;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 10px;
          margin-left: -30px;
          @media screen and (max-width: $mobile-420){
            width: 13px;
            height: 13px;
            top: 5px;
            margin-left: -21px;
          }
        }
        @media screen and (max-width: $mobile-768) {
          margin-left: 30px;
          .wrap--text{
            display: block;
          }
        }
        @media screen and (max-width: $mobile-420) {
          .wrap--text{
            display: inline;
          }
        }
      }
    }
    .button {
      max-width: 140px;
      background-color: $colorWhite;
      margin-top: 60px;
      @media screen and (max-width: $mobile-420){
        max-width: 100px;
        height: 40px;
        margin-left: 30px;
        margin-top: 120px;
      }
      .a--link {
        color: $colorAqua;
        font-size: 25px;
        @media screen and (max-width: $mobile-420){
          font-size: 20px;
        }
      }
    }
  }
  .bg--img {
    width: 100%;
    max-width: 80px;
    position: absolute;
    bottom: -3px;
    right: 350px;
    @media screen and (max-width: 1440px) {
      right: 150px;
    }
    @media screen and (max-width: $mobile-768) {
      max-width: 66px;
      right: 50px;
    }
    @media screen and (max-width: $mobile-420) {
      display: none;
    }
  }
}

.footer {
  background-color: $colorDarkGrey;
  padding: 210px 0 70px;
  @media screen and (max-width: $mobile-420){
    padding-top: 110px;
  }
  .footer--list {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    .list--item {
      width: 100%;
      display: flex;
      justify-content: space-around;
      @media screen and (max-width:$mobile-420){
        flex-flow: wrap;
        justify-content: center;
      }
      .info--wrapper {
        width: 50%;
        margin-left: 3vw;
        @media screen and (max-width: $mobile-768) {
          margin-left: 4vw;
        }
        @media screen and (max-width: $mobile-420) {
          width: 100%;
          margin-left: 0;
          text-align: center;
          order: 2;
        }
        .text--item {
          color: $colorWhite;
          font-family: $font-light;
          font-size: 16px;
          line-height: 25px;
        }
      }
      .social--wrapper {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: $mobile-420){
          width: 100%;
          justify-content: center;
          order: 1;
          margin-bottom: 90px;
        }
        .social--list {
          width: 40%;
          display: flex;
          margin-top: 10px;
          justify-content: center;
          @media screen and (max-width: $mobile-768) {
            width: 50%;
          }
          .list--item {
            width: 30%;
            .img {
              max-width: 23px;
              height: 23px;
              @media screen and (max-width: $mobile-420) {
                max-width: 27px;
                height: 27px;
              }
            }
          }
        }
      }
      &.first {
        margin-right: 120px;
      }
    }
  }
}